<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">
  
       <div class="box">
          <h3>quick links</h3>
          <a href="home.html"> <i class="fas fa-angle-right"></i> home</a>
          <a href="about.html"> <i class="fas fa-angle-right"></i> about</a>
          <a href="discussion1.html"> <i class="fas fa-angle-right"></i> ask questions</a>
  
  
       </div>
  
  
  
       <div class="box">
          <h3>contact info</h3>
          <a href="#"> <i class="fas fa-phone"></i> +216-75255900 </a>
          <a href="#"> <i class="fas fa-phone"></i> +216-77456789</a>
          <a href="#"> <i class="fas fa-envelope"></i> Mymuseum@gmail.com </a>
          <a href="#"> <i class="fas fa-map"></i> Monastir, Tunisia - 5000 </a>
       </div>
       <div class="box">
          <h3>extra links</h3>
          <a href="https://fr.wikipedia.org/wiki/Tunisie"> <i class="fas fa-angle-right"></i> about Tunisia</a>
          <a href="https://tunisie.co/article/8527/reserver/agences-de-voyages/top-5-agences-311332"> <i class="fas fa-angle-right"></i>  book a flight to Tunisia</a>
          
          <a href="https://fr.wikipedia.org/wiki/Liste_de_mus%C3%A9es_en_Tunisie"> <i class="fas fa-angle-right"></i>wikipedia</a>
  
       </div>
       <div class="box">
          <h3>follow us</h3>
          <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
          <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
          <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
          <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
       </div>
  
    </div>
  
    <div class="credit"> created by <span>My Museum Group</span> | all rights reserved! </div>
  
  </section>
  
  
  
  <!-- footer section ends -->